<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912201125429-i189t4qv6dpeqv7tgurk2if1g0g96gds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912201125429-i189t4qv6dpeqv7tgurk2if1g0g96gds</string>
	<key>API_KEY</key>
	<string>AIzaSyBvBVy_dKfaSQmi17tV8cLZl5PEOQtfm2I</string>
	<key>GCM_SENDER_ID</key>
	<string>912201125429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>max-lee.FIT3178FinalProject</string>
	<key>PROJECT_ID</key>
	<string>fit3178finalproject</string>
	<key>STORAGE_BUCKET</key>
	<string>fit3178finalproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912201125429:ios:2dc9a2880e96de04e6eb7c</string>
	<key>DATABASE_URL</key>
	<string>https://fit3178finalproject.firebaseio.com</string>
</dict>
</plist>